body {
    height: 100%;
    color: white;
    font-family: 'Dancing Script', cursive;
    background: #0C154A;
    text-align: center;
    padding: 25px 25px;
}

button {
    background: none;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    padding: 7px;
}

h3 {
    font-family: 'Kumbh Sans', sans-serif;
}

h4 {
    font-size: 1.5em;
    border: 3px solid #e06b6b;
    border-radius: 3px;
    padding: 14px;
    margin: 0 30%;
}
  
